.refluxblu-white,
.refluxblu-white * {
  background: #1a3acc;
  background-color: #1a3acc;
  color: white; }

.refluxblu-white .table > thead > tr > th {
  border-bottom: 1px solid #e0e9fe !important; }

.refluxblu-white hr {
  border-top: 1px solid #1a3acc !important; }

.cuulblu-refluxblu,
.cuulblu-refluxblu * {
  background: #e0e9fe;
  background-color: #e0e9fe;
  color: #1a3acc; }

/*.cuulblu-refluxblu hr, .cuulblu-refluxblu td{
    border-top: 1px solid #1a3acc !important;
  }*/
.cuulblu-refluxblu .table > tbody > tr > td, .cuulblu-refluxblu .table > tbody > tr > th, .cuulblu-refluxblu .table > tfoot > tr > td, .cuulblu-refluxblu .table > tfoot > tr > th, .cuulblu-refluxblu .table > thead > tr > td, .cuulblu-refluxblu .table > thead > tr > th {
  border-top: 1px solid #1a3acc !important; }

.cuulblu-refluxblu .table > thead > tr > th {
  border-bottom: 1px solid #e0e9fe !important; }

.cuulblu-refluxblu hr {
  border-top: 1px solid #1a3acc !important; }

.wurmgrey-refluxblu,
.wurmgrey-refluxblu * {
  background: #e4dfd9;
  background-color: #e4dfd9;
  color: #1a3acc; }

.wurmgrey-refluxblu .table > tbody > tr > td, .wurmgrey-refluxblu .table > tbody > tr > th, .wurmgrey-refluxblu .table > tfoot > tr > td, .wurmgrey-refluxblu .table > tfoot > tr > th, .wurmgrey-refluxblu .table > thead > tr > td, .wurmgrey-refluxblu .table > thead > tr > th {
  border-top: 1px solid #1a3acc !important; }

.wurmgrey-refluxblu .table > thead > tr > th {
  border-bottom: 1px solid #1a3acc !important; }

.wurmgrey-refluxblu hr {
  border-top: 1px solid #1a3acc !important; }

.drkgable-white,
.drkgable-white * {
  background: #142a2d;
  background-color: #142a2d;
  color: white; }

.drkgable-white hr {
  border-top: 1px solid #fff !important; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.start {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1a3acc; }

.style-guide {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .style-guide .brand-colors .swatch-footer {
    font-size: .8em; }
  .style-guide .start {
    padding: 0; }
  .style-guide .multi-step a:hover {
    border: none;
    text-decoration: none; }
  .style-guide pre {
    background: rgba(75, 75, 75, 0.5);
    background: #142a2d;
    border: none; }
  .style-guide .section__header {
    position: relative; }
    .style-guide .section__header::before {
      left: 0; }
    .style-guide .section__header:hover::before {
      left: -40px;
      width: 130%;
      right: 0; }

.frame {
  position: relative; }
  .frame .swatch-holder {
    display: table;
    align-items: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 300px;
    margin: 0 auto;
    padding: 2em 0; }
    .frame .swatch-holder .swatch-center {
      width: auto;
      position: relative;
      display: inherit;
      margin: auto; }
      .frame .swatch-holder .swatch-center a.theme-choice,
      .frame .swatch-holder .swatch-center button.theme-choice {
        border: 3px solid #fff !important;
        font-size: 24px !important;
        float: none;
        width: 50px;
        height: 50px;
        padding: 0 0; }
        .frame .swatch-holder .swatch-center a.theme-choice .theme-color,
        .frame .swatch-holder .swatch-center button.theme-choice .theme-color {
          font-size: 24px;
          width: 12px;
          height: 24px;
          text-align: center;
          vertical-align: bottom;
          line-height: 1.75em; }
      .frame .swatch-holder .swatch-center a:hover,
      .frame .swatch-holder .swatch-center button:hover {
        font-size: 24px;
        border: 3px solid #999 !important; }
      .frame .swatch-holder .swatch-center a.refluxblu *,
      .frame .swatch-holder .swatch-center button.refluxblu * {
        background-color: #1a3acc;
        color: white; }
      .frame .swatch-holder .swatch-center a.cuulblu *,
      .frame .swatch-holder .swatch-center button.cuulblu * {
        background-color: #e0e9fe;
        color: #1a3acc; }
      .frame .swatch-holder .swatch-center a.wurmgrey *,
      .frame .swatch-holder .swatch-center button.wurmgrey * {
        background-color: #e4dfd9;
        color: #1a3acc; }
      .frame .swatch-holder .swatch-center a.drkgable *,
      .frame .swatch-holder .swatch-center button.drkgable * {
        background-color: #142a2d;
        color: white; }

.col-xs-12:hover .section__header {
  position: relative; }
  .col-xs-12:hover .section__header::before {
    left: 0; }

.tooltip {
  top: -5px; }
  .tooltip .tooltip-inner {
    background-color: #444 !important;
    color: #efefef !important;
    text-shadow: #222 0px -1px 0;
    border-radius: 0;
    padding: 5px 24px;
    border: none !important;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .tooltip.top .tooltip-arrow {
    border-top-color: #444 !important;
    border-width: 8px 10px 0;
    margin-left: -10px;
    bottom: -3px; }

.badge {
  font-weight: 400 !important;
  padding: 4px 10px !important; }
  .badge.badge-danger {
    background-color: #ab1acc !important; }

#panel {
  overflow: hidden; }

/* sidebar */
.bs-docs-sidebar {
  position: fixed;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif; }

/* all links */
.bs-docs-sidebar .nav > li:hover {
  cursor: pointer; }

.bs-docs-sidebar .nav .nav > li > a {
  cursor: pointer !important; }

.bs-docs-sidebar .nav > li > a {
  font-family: "Roboto", monospace;
  color: #999;
  border-left: 1px solid transparent;
  /*padding: 4px 20px; Roboto Mono*/
  padding: 4px 40px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer !important; }

.bs-docs-sidebar .nav > li > a:hover {
  cursor: pointer; }

.bs-docs-sidebar .nav > li > small {
  color: #aaa;
  border-left: 1px solid transparent;
  padding: 12px 20px;
  font-size: 9px;
  font-weight: 400;
  display: block; }

/*#sidebar > li.active > ul > li.active > a{
  border: 1px solid black;
}*/
/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  font-size: 12px;
  cursor: pointer; }

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #262626; }

.bs-docs-sidebar .nav > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #262626;
  cursor: default; }

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 600; }

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 400; }

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none; }

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
  display: block; }

/* special back to top styling */
.back-to-top li small {
  color: #000; }

.back-to-top:hover,
.back-to-top:focus {
  border-left-color: transparent !important; }

.back-to-top:hover::after {
  content: "\2191";
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 1.15em;
  line-height: 1em; }

@media all and (max-width: 1170px) {
  .bs-docs-sidebar {
    /*display: none;*/ } }
