* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.start {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1a3acc; }

.style-guide {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .style-guide .start {
    padding: 0; }
  .style-guide .swatch-holder {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto; }
  .style-guide .multi-step a:hover {
    border: none;
    text-decoration: none; }
  .style-guide pre {
    background: rgba(75, 75, 75, 0.5);
    background: #142a2d;
    border: none; }
