/* General iframe styles */

iframe {
    border: none;
    width: 100%;
    /* Default to fill container width */
    height: 100%;
    /* Default to fill container height */
    min-width: 64vh;
    height: 30vh;
}


/* Portrait orientation */

@media screen and (max-width: 746px) and (orientation: portrait) {
    .warning-form {
        max-height: 820px;
    }
    .warning {
        display: none;
        flex-direction: column;
    }
    .warning-form-content {
        flex-direction: column;
    }
    iframe {
        width: 100%;
        /* Adjust to the width of the viewport */
        height: 90vh;
        /* Use most of the viewport height */
        min-width: 100%;
    }
}


/* Landscape orientation */

@media screen and (max-width: 932px) and (orientation: landscape) {
    .warning-form {
        max-height: 620px;
    }
    iframe {
        width: 100%;
        /* Adjust to the width of the viewport */
        height: 70vh;
        /* Use less height to maintain aspect ratio */
        min-width: 100%;
    }
}


/* Base styles for the container */

.button-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* Distribute space between buttons */
    gap: 10px;
    /* Space between buttons */
}


/* Flex for the buttons, making them take equal space */

.button-group button {
    flex: 1;
    /* Buttons take equal space */
    cursor: pointer;
}


/* Optional: Conditional style based on screen size (e.g., mobile vs desktop) */

@media (max-width: 600px) {
    .button-group {
        flex-direction: column;
        /* Stack buttons vertically on small screens */
    }
    .button-group button {
        flex: none;
        /* Buttons no longer take equal space */
        width: 100%;
        /* Full width for each button in the column layout */
    }
}