/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */

:root {
    /* colors */
    --brand-blue: #1a3acc;
    --dark-blue: #001c9b;
    --very-dark-blue: #000e4e;
    --cool-blue: #e0e9fe;
    --magenta: #ab1acc;
    --fuchsia: #84017e;
    --blood-red: #600000;
    --dim-red: #ee0202;
    --legacy: #008080;
    --java: #1ACCAB;
    --pale-blue: #a6aaf4;
    --golden: #ccab1a;
    --burlywood: #DEB887;
    --safety-green: #BBFF32;
    --bright-green: #14E158;
    --mint-green: #2e8c5f;
    --pale-olive: #648476;
    --bright-orange: rgba(255, 111, 63, 0.5);
    --orange: #ff6f3f;
    --nesbit: #FFAA78;
    --dark-olive: #1a1e1c;
    --black: #0a0c0e;
    --white: #ffffff;
    --base-bright: #f0f4f7;
    --bright-grey: #f2f2f2;
    --light-grey: #cfcfcf;
    --warm-grey: #818181;
    --metal: #5a6771;
    --ever-green: #142a2d;
    --deep-green: #0A202E;
    --warm-black: #2D2828;
    --deep-root: #004161;
    --euphoria: #00050f;
    /* properties */
    --font-base-size: 14px;
    --font-small-size: 12px;
    --font-tiny-size: 10px;
    --font-micro-size: 8px;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

#themeSwitch i,
#lightSwitch i {
    font-size: .75em;
    vertical-align: middle;
}

#themeSwitch,
#lightSwitch {
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.footer #themeSwitch,
.footer #lightSwitch {
    position: absolute;
    display: block;
    right: 6px;
    bottom: 36px;
    z-index: 9;
    padding: 4px 12px;
}

@media (max-width: 768px) {
    .footer #themeSwitch {
        position: absolute;
        display: block;
        right: 36px;
        top: 12px;
        z-index: 9;
        height: 40px;
    }
}

#themeSwitch[title]:hover::after,
#lightSwitch[title]:hover::after {
    content: attr(title);
    position: absolute;
    min-width: 100px;
    left: -55%;
    background-color: rgba(255, 255, 255, .75);
    color: var(--metal);
    border: 1px solid var(--white);
}

body.dark-mode #themeSwitch[title]:hover::after,
body.dark-mode #lightSwitch[title]:hover::after {
    content: attr(title);
    position: absolute;
    min-width: 100px;
    left: -52%;
    background-color: rgba(0, 0, 0, .75);
    border: 1px solid black;
}

body.dark-mode .footer #themeSwitch[title]:hover::after {
    border: 1px solid #222;
    color: var(--cool-blue);
    left: -60%;
}

#themeSwitch[title]:hover::after {
    top: -125%;
}

.footer #themeSwitch[title]:hover::after {
    top: -32px;
}

#lightSwitch[title]:hover::after {
    bottom: -125%;
}

body #themeSwitch,
body.light-mode #themeSwitch,
body #lightSwitch,
body.light-mode #lightSwitch {
    display: block;
    margin: 0 auto;
    background-color: rgba(55, 55, 55, .115);
    color: #8c8c8c;
    border: 1px solid #bbb;
    opacity: .5;
    width: 48px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #themeSwitch,
body.dark-mode #lightSwitch {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .25);
    color: #606060;
    border: 1px solid #222;
    transition: background-color 0.3s, color 0.3s;
    opacity: 1;
    min-width: 48px;
}

body.light-mode #themeSwitch:hover,
body.light-mode #lightSwitch:hover {
    color: white;
    background-color: rgba(0, 0, 0, .85);
    opacity: 1;
}

body.dark-mode #themeSwitch:hover,
body.dark-mode #lightSwitch:hover {
    color: white;
    border: 1px solid #f8f8f8;
}

@media (prefers-color-scheme: dark) {
    body.dark-mode {
        background-color: black;
        color: #b5b5b5;
    }
    body.dark-mode #panel {
        background-color: black;
        border-right: 1px solid #131313;
    }
    body.dark-mode hr {
        border-top: 1px solid #131313;
    }
    body.dark-mode-lights hr {
        border-top: 1px solid #8a8a8a80
    }
    body.dark-mode pre {
        background: #0e110b;
        border: 1px solid #202020;
        border-radius: 0px;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body.light-mode {
        background-color: #f6f6f6;
        color: #545454;
    }
    body.light-mode #panel {
        background-color: white;
        border-right: 1px solid #e6e6e6;
    }
    body.light-mode .style-guide pre {
        /* background: #0e110b; */
        border: 1px solid red !important;
        border-radius: 0px;
        /* color: white; */
    }
}

body.dark-mode a:hover {
    color: white;
    border-bottom: 1px dotted;
}

body.dark-mode .grid-post:hover {
    border: none;
}

body.dark-mode .bs-docs-sidebar li.active li a {
    border-bottom: none;
    color: white !important;
}

body.dark-mode .bs-docs-sidebar .nav>.active>a,
body.dark-mode .bs-docs-sidebar .nav>li>a:focus {
    color: #c0ffea;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #c0ffea;
}

body.dark-mode .bs-docs-sidebar .nav>li>a:hover {
    color: #93dac2;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #93dac2;
    cursor: default;
}

body.dark-mode .bs-docs-sidebar li.active li.active a {
    border-bottom: none;
    color: #c0ffea !important;
}

body.dark-mode #quotes .stats-hero.brandblue {
    background-color: var(--black) !important;
    color: var(--metal) !important;
}

body.dark-mode .navbar-brand {
    color: var(--metal) !important;
}

body.dark-mode .navbar-brand:hover {
    color: var(--white) !important;
}

.navbar-brand .navbar-brand-hidden {
    display: none;
}

.navbar-brand:hover .navbar-brand-default {
    display: none;
}

.navbar-brand:hover .navbar-brand-hidden {
    display: block;
}

.gradient-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, rgba(20, 42, 45, 1) 0%, rgba(26, 58, 204, 1) 55%, rgba(0, 0, 0, 1) 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 65s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body.dark-mode-lights {
    color: #ffffff75;
    background-color: black !important;
    background: linear-gradient(270deg, rgba(20, 42, 45, 1) 0%, rgba(26, 58, 204, 1) 55%, rgba(0, 0, 0, 1) 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 65s ease infinite;
}

body.dark-mode-lights :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    color: var(--base-bright);
    mix-blend-mode: difference;
    opacity: .75;
}

#font-sample :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    mix-blend-mode: normal;
    opacity: 1;
}

body.dark-mode .git-calendar-graph {}

body.dark-mode .parallax-footer,
body.dark-mode .footer-para,
body.dark-mode .home-lead {
    background-color: var(--black);
}

body.dark-mode .palette-brandblue.palette-inverse.warm,
body.dark-mode .palette-brandblue.palette-inverse.cool {
    background-color: #171717;
}

body.dark-mode .home-lead__content,
body.dark-mode .palette-brandblue.palette-inverse,
body.dark-mode .grid .grid-inner.full-3 article {
    background-color: #000;
}

body.dark-mode .footer-para #back-top a i {
    border: 1px solid #222;
    color: #606060;
    background-color: rgba(0, 0, 0, .25);
    z-index: 9;
}

body.dark-mode .footer-para #back-top a:hover i {
    border: 1px solid #c0ffea;
    color: #c0ffea;
    background-color: rgba(0, 0, 0, .25);
    z-index: 9;
}