.refluxblu-white,
.refluxblu-white * {
  background: #1a3acc;
  background-color: #1a3acc;
  color: white;
}
.refluxblu-white {
	// .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	// 	border-top: 1px solid #1a3acc !important;
	// }
	.table > thead > tr > th{
		//border-bottom: 1px solid #1a3acc !important;
		border-bottom: 1px solid #e0e9fe !important;
	}
	hr{
		border-top: 1px solid #1a3acc !important;
	}
}


.cuulblu-refluxblu,
.cuulblu-refluxblu * {
  background: #e0e9fe;
  background-color: #e0e9fe;
  color: #1a3acc;
}
/*.cuulblu-refluxblu hr, .cuulblu-refluxblu td{
    border-top: 1px solid #1a3acc !important;
  }*/
.cuulblu-refluxblu{
	.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    border-top: 1px solid #1a3acc !important;
  }
	.table > thead > tr > th{
		//border-bottom: 1px solid #1a3acc !important;
		border-bottom: 1px solid #e0e9fe !important;
	}
	hr{
		border-top: 1px solid #1a3acc !important;
	}
}

.wurmgrey-refluxblu,
.wurmgrey-refluxblu * {
  background: #e4dfd9;
  background-color: #e4dfd9;
  color: #1a3acc;
}
.wurmgrey-refluxblu {
	.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    border-top: 1px solid #1a3acc !important;
  }
	.table > thead > tr > th{
		//border-bottom: 1px solid #1a3acc !important;
		border-bottom: 1px solid #1a3acc !important;
	}
	hr{
		border-top: 1px solid #1a3acc !important;
	}
}

.drkgable-white,
.drkgable-white * {
  background: #142a2d;
  background-color: #142a2d;
  color: white;
}
.drkgable-white {
	hr{
		border-top: 1px solid #fff !important;
	}
}

table.table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1){

}
