//_style-guide.scss
$brandblue: #1a3acc;
$drk-gable: #142a2d;
//
// body {
//   background: #f6f6f6;
//   color: #545454;
// }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.start {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $brandblue;
}

.style-guide {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .start {
    padding: 0;
  }
  .swatch-holder {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  .multi-step {
    a {
      &:hover {
        border: none;
        text-decoration: none;
      }
    }
  }
  pre {
    background: rgba(75, 75, 75, 0.5);
    background: #142a2d;
    border: none;
  }
}
