//_style-guide.scss
$brandblue: #1a3acc;
$drk-gable: #142a2d;
$radius: 50px;
//
// body {
//   background: #f6f6f6;
//   color: #545454;
// }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.start {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $brandblue;
}

.style-guide {
  font-size: 0.9em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .brand-colors{
    .color-name{

    }
    .swatch-footer{
      font-size: .8em;
    }
  }

  .start {
    padding: 0;
  }
  .multi-step {
    a {
      &:hover {
        border: none;
        text-decoration: none;
      }
    }
  }
  pre {
    background: rgba(75, 75, 75, 0.5);
    background: #142a2d;
    border: none;
  }

  .section__header{
    position: relative;
    &::before{
      left: 0;
    }
    &:hover{
      &::before{
        left: -40px;
        width: 130%;
        right: 0;
      }
    }
  }
}
.frame{
  position: relative;
  // display: flex;
  // align-items: flex-start;
  .swatch-holder {
    display: table;
    align-items: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 300px;
    // margin-left: -150px;
    // top: 0%;
    // left: 50%;
    // margin-top: 0;
    margin: 0 auto;
    padding: 2em 0;

    .swatch-center{
      width: auto;
      position: relative;
      display: inherit;
      margin: auto;

      a,
      button {
        &.theme-choice {
          border: 3px solid #fff !important;
          font-size: 24px !important;
          float: none;
          width: $radius;
          height: $radius;
          padding: 0 0;

          .theme-color{
            font-size: 24px;
            width: 12px;
            height: 24px;
            text-align: center;
            vertical-align: bottom;
            line-height: 1.75em;
          }
        }
        &:hover{
          font-size: 24px;
          border: 3px solid #999 !important;
        }
        &.refluxblu *{
          background-color: #1a3acc;
          color: white;
        }
        &.cuulblu *{
          background-color: #e0e9fe;
          color: #1a3acc;
        }
        &.wurmgrey *{
          background-color: #e4dfd9;
          color: #1a3acc;
        }
        &.drkgable *{
          background-color: #142a2d;
          color: white;
        }
      }
    }
  }
}

.col-xs-12{
  &:hover{
    .section__header{
      position: relative;
      &::before{
        left: 0;
      }
      // &:hover{
      //   &::before{
      //     left: -40px;
      //     width: 100%;
      //     right: 0;
      //   }
      // }
    }
    // .section__header::before{
    //   left: -40px;
    //   width: 100%;
    //   right: 0;
    // }
  }
}

.tooltip{
  top: -5px;
  .tooltip-inner{
    background-color: #444 !important;
    color: #efefef !important;
    //inset
    text-shadow: #222 0px -1px 0;
    border-radius: 0;
    padding: 5px 24px;
    border: none !important;
    text-transform: lowercase;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.top .tooltip-arrow{
    //background-color: #999 !important;
    border-top-color: #444 !important;
    // border-top-width: 12px;
    border-width: 8px 10px 0;
    margin-left: -10px;
    bottom: -3px;
  }
}
.badge{
  font-weight: 400 !important;
  padding: 4px 10px !important;

  &.badge-danger{
    background-color: #ab1acc !important;
  }
}
