$color-primary: #004987;
$color-secondary: #8F8F8F; //#fed419;
$color-accent: #F7A800;
$text-color: #3C3C3C;
$link-color: lighten($color-accent,10%);
$link-hover-color: darken($link-color, 15%) !default;
$table-case-listing-requiring-attention--bkg-color--odd: lighten($color-accent,20%);
$table-case-listing-requiring-attention--bkg-color--even: lighten($color-accent,30%);
$table-case-listing-requiring-attention--bkg-color--odd--hover: $color-accent;
$table-case-listing-requiring-attention--bkg-color--even--hover: $color-accent;
$table-bg-hover: $color-secondary;
$well-accent--bkg-color: lighten($color-accent,30%);
$well-accent--border-color: $color-accent;
$case-requiring-action--bkg-color: lighten($color-accent,25%);
$case-detail--accent-bkg-color: lighten($color-accent,25%);
$single-drug--width: auto;
$single-drug--min-height: auto;
$drug-selection-slideshow--img--margin: 0 0 1px;
$label-warning-bg--theme: $color-accent;
